<ng-container *ngIf="user$ | async as user">

<ion-header>
    <ion-navbar>
        <ion-title>
            Рабочий
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-card>

        <ion-item>
          <ion-avatar item-start>
            <img [src]="user.avatar">
          </ion-avatar>
          <h2>{{user.lastName}} {{user.midName}} {{user.firstName}}</h2>
          <h3>{{user.photosCount}}</h3><ion-icon name="camera"></ion-icon>
        </ion-item>

        <ion-item>
            <dr-take-photo-button text="Change Photo" (take)="onAddWorkerPhoto(user.id)"></dr-take-photo-button>
        </ion-item>

    </ion-card>

</ion-content>

</ng-container>