<ng-container *ngIf="user$ | async as user">

<ion-header>
    <ion-navbar>
        <ion-title>
            Рабочий
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-card>

        <ion-item>
          <ion-avatar item-start>
            <img [src]="user.avatar">
          </ion-avatar>
          <h2>{{user.name}}</h2>
          <h3>{{user.photosCount}}</h3><ion-icon name="camera"></ion-icon>
        </ion-item>

        <ion-item>
            <input type="file" [multiple]="false" id="file_input" (change)="onAddWorkerPhoto(user.id, $event)">
            <!--
            <button ion-button (click)="onAddWorkerPhoto(user.id)">Add photo</button>
            -->
        </ion-item>

    </ion-card>

</ion-content>

</ng-container>