<ion-header>
    <ion-navbar>
        <ion-title>
            Список рабочих
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-list [virtualScroll]="(list$ | async).items" approxItemHeight="65px" [virtualTrackBy]="trackBy">

        <ion-item *virtualItem="let item" (click)="onShow(item.id)">

            <ion-avatar item-left>
                <ion-img *ngIf="item.avatar" [src]="item.avatar"></ion-img>
            </ion-avatar>

            <h2>{{item.firstName}} {{item.midName}} {{item.lastName}}</h2>

            <p>{{item.photosCount}}</p>


        </ion-item>

    </ion-list>

</ion-content>